html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(28, 28, 28);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#container1{
    z-index: 10;
    display: flex;
    flex-direction: column;

    
    #navbar{
        left: 0;
        position: fixed;
        display: flex;
        z-index: 5;
        padding-bottom: 3px;
        width: 100%;
        background-color: bisque;
        box-shadow: 0 0 8px 1px #0000009f;

        #navbar_inner{
            position: fixed;
            z-index: 5;
            display: flex;
            /* background-color: #388789; */
            background-image: url('/assets/images/gradient_navbar.png');
            background-size: cover;
            min-height: 50px;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0 0 8px 1px #0000009f;
        }

        #drawer{
            min-width: 40px;
            min-height: 40px;
            background-color: aquamarine;
            margin: 5px;
        }

        #leftnav{
            display: flex;
            align-items: center;
        }

        #rightnav{
            display: flex;
            align-items: center;
        }

        #pfp{
            min-width: 40px;
            min-height: 40px;
            background-color: aquamarine;
            margin: 5px;
        }

        #websiteName{
            font-weight: 500;
            display: flex;
            align-items: center;
            height: 50px;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 10px;
            font-family: Catchy Mager;
            font-size: 50px;
            color: bisque;
        }

        #navigation{
            flex-wrap:wrap;
            max-width: 800px;
            margin: 0 4px 0 0;
            display: flex;
            justify-content:flex-end;
        }

        .nav-but{
            border-radius: 6px;
            padding-top: 4px;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            padding-left: 5px;
            padding-right: 5px;
            margin: 9px 0 9px 10px;
            font-family: EuroRoman;
            font-size: 18px;
            font-stretch: extra-expanded;
            display: flex;
            min-width: 90px;
            height: 20px;
            background-color: #00000030;
            color: bisque;
            align-items: center;
            justify-content: center;
            padding-bottom: 5px;
            cursor: pointer;
            transition: linear 0.07s;
        }
        .nav-but:hover{
            scale: 1.1;
            box-shadow: 0 0 5px #00000065;
        }

    }
}


#spacing1{
    width: 100%;
}

#section1{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 93vh;
    background-image: url("assets/images/magicpattern-87PP9Zd7MNo-unsplash.jpg");
    background-size:cover;
    background-repeat: no-repeat;

    #container2{
    z-index: 1;
    height: 670px;
    width: 94%;
    max-width: 1100px;
    background-color:rgba(214, 189, 145, 0.679);
    box-shadow: 0 0 25px #000000c4;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;



    #left_box{
        width: 40%;
        height: 650px;
        background-image: url("assets/images/pexels-zahide-tas-367420941-19920240.jpg");
        background-size: 110%;
        background-position: center;
        margin: 10px;
        border-radius: 20px;
        transition-duration: 0.1s;
        transition-timing-function: ease-out;
        box-shadow: inset 0 0 50px 10px #000000;
    }
    #left_box:hover{
        background-size: 150%;
        transition-duration: 0.4s;
        transition-timing-function: ease-out;
        box-shadow: inset 0 0 50px 10px #00000000;
    }




    #division{
        height: 600px;
        background-color: black;
        width: 2px;
    }
    #right_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        height: 650px;
        background-size: cover;
        margin: 10px;
        border-radius: 20px;
        text-wrap: wrap;

        #img_1{
            background-image: url("assets/images/magicpattern-87PP9Zd7MNo-unsplash.jpg");
            background-position-x:40%;
            background-size: cover;
            min-height: 250px;
            min-width: 250px;
            border-radius: 80px;
            margin-top: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 25px #00000099;
        }
        .tag_1{
            text-align: center;
            font-family: Catchy Mager;
            font-weight: 900;
            font-size: 15px;
            margin: 0;
            margin-bottom: 15px;
        }
        .my_accounts_container_1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .accounts_1{
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("assets/images/gradient_navbar.png");
            text-align: center;
            color: bisque;
            font-family: RaleWay;
            font-weight: 100;
            font-size: 15px;
            height: 30px;
            width: 120px;
            border-radius: 8px;
            margin: 3px;
            transition: linear 0.15s;
            transition-timing-function: ease-out;
        }
        .accounts_1:hover{
            transition: linear 0.2s;
            transition-timing-function: ease-out;
            scale: 1.1;
            cursor: pointer;
        }
        #img_2{
            background-image: url("assets/images/1000105308-Photoroom.jpg");
            background-position: center;
            background-size: 150%;
            height: 250px;
            width: 250px;
            border-radius: 80px;
            margin-top: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline-width: 5px;
            outline-color: rgb(3, 70, 74);
            outline-style: solid;
            outline-offset: 5px;
            animation: color-change 1s infinite;
            transition: linear 0.2s;
            transition-timing-function: ease-out;
        }
        #img_2:hover{
            background-size: 170%;
            transition: linear 0.2s;
            transition-timing-function: ease-out;
        }
        #text_1{
            margin: 0;
            font-family: Catchy Mager;
            font-weight: 100;
            margin-top: 10px;
            text-align: center;
            font-size: 40px;
        }
        #text_2{
            margin: 0;
            margin-top: 20px;
            margin-bottom: 10px;
            text-align: center;
            font-size: 58px;
            font-family: Nexa Rust;

            #text_2_small{
                font-size: 25px;
                color: rgba(0, 0, 0, 0.685);
            }
        }
        #para_1{
            margin: 0;
            margin-top: 5px;
            width: 95%;
            font-family: Raleway;
            font-weight: 100;
            font-size: smaller;
            text-align: center;
            color:bisque;
        }
        #para_container{
            margin-top: 10px;
            width: 70%;
            min-width: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:rgba(21, 60, 75, 0.758);
            padding-bottom: 7px;
            border-radius: 10px;
        }
    }
}}

@keyframes color-change {
  0% { outline-color:rgb(1, 37, 39); }
  50% { outline-color: rgb(3, 70, 74); }
  100% { outline-color: rgb(1, 37, 39); }
}


#about_me_container{
    width: 100%;
    height: 50vh;
}